
	<%= form_for @preference, :url => preference_path(@preference), :html => { :class => "form-horizontal" } do |f| %>
		<fieldset>
			<div class="control-group <% if @user.errors[:daily_calories_limit].present? %>error<%end%>">
				<%= f.label :daily_calories_limit, "Daily calorie goal", :class => "control-label"  %>
				<div class="controls">
					<%= f.text_field :daily_calories_limit, :type=> "number"  %>
					<span class="help-inline">This will set a line on the graph as a reference point</span>
					<% if @preference.errors[:daily_calories_limit].present? %>
						<span class="help-inline"><%= @preference.errors[:daily_calories_limit].join(", ")%></span>
					<%end%>
				</div>
			</div>
			<!-- hidden field used when redirecting after updating, this anchor attached to url
			will open the right tab -->
			<%= hidden_field_tag :anchor, "preferences" %>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Update</button>
				<span> or </span><a class="highlight" href="http://www.wolframalpha.com/widgets/view.jsp?id=d0098546738adcb07d504b36fc17f652" target="_blank">Help me calculate my daily calorie limit</a>
			</div>
			<!-- <div class="control-group">
				<div id="wolframScript"></div>
			</div> -->
		</fieldset>
	<% end %>