
	<%= form_for @preference, :url => preference_path(@preference),  :html => { :class => "form-horizontal" } do |f| %>
		<fieldset>
			<div class="control-group <% if @preference.errors[:daily_email].present? %>error<%end%>">
				<p>Do you want to receive emails to remind you what you have been eating?</p>
				<p>Highly recommended because you'll become more aware of how many calories you ate for the day, and it's the easiest way to see if you've won a Smart Choice or Hot Photo Award. Plus, you'll get detailed reporting with weekly comparison and trends!</p>
				<label class="control-label">Daily emails? (<a class="highlight" target="_blank" href="https://dl.dropboxusercontent.com/u/125982/FoodRubix-Images/New-Features/Stats/Daily-Email-Sample.png">sample</a>)</label>
				<div class="controls">
					<%= f.check_box :daily_email %>
					<% if @preference.errors[:daily_email].present? %>
						<span class="help-inline"><%= @preference.errors[:daily_email].join(", ")%></span>
					<%end%>
				</div>

			</div>
			<div class="control-group <% if @preference.errors[:weekly_email].present? %>error<%end%>">
				<label class="control-label">Weekly emails? (<a class="highlight" target="_blank" href="https://dl.dropboxusercontent.com/u/125982/FoodRubix-Images/New-Features/Stats/Weekly-Email-Sample.png">sample</a>)</label>
				<div class="controls">
					<%= f.check_box :weekly_email %>
					<% if @preference.errors[:weekly_email].present? %>
						<span class="help-inline"><%= @preference.errors[:weekly_email].join(", ")%></span>
					<%end%>
				</div>

			<!-- hidden field used when redirecting after updating, this anchor attached to url
			will open the right tab -->
			<%= hidden_field_tag :anchor, "emails" %>

			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Update</button>
			</div>
		</fieldset>
	<% end %>

