
	<%= form_for @preference, :html => { :class => "form-horizontal" } do |f| %>
		<fieldset>
			<div class="control-group">
				<% if  @user.hasFacebookConnected?%>
					<p>Check this box to share your photos on Facebook and tell others what you’re up to.  You’ll only hold yourself accountable for goals that others know about, so put yourself out there a little.</p>
					<%= f.label :fb_sharing, "Share on Facebook", :class => "control-label"  %>
					<div class="controls">
						<%= f.check_box :fb_sharing %>
					</div>
				<% else %>
					<p>Connect to Facebook to share your photos on Facebook and tell others what you’re up to.  You’ll only hold yourself accountable for goals that others know about, so put yourself out there a little.</p>
					<a href="/auth/facebook" id="auth_provider">
				  		<%= image_tag "facebook_login.jpg", :alt => "Facebook", :height => "28px" %>
					</a>
				<% end %>
			</div>
			<!-- hidden field used when redirecting after updating, this anchor attached to url
			will open the right tab -->
			<%= hidden_field_tag :anchor, "social" %>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Update</button>
			</div>
		</fieldset>
	<% end %>

