<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
  <tbody>
    <%= render :partial => "email/style/white_space" %>
    <tr>
    	<td>
    		<h2 style="color:#111111;font-family:sans-serif;margin-top:0;margin-bottom:0;font-size:24px;line-height:30px;padding:0 2px; border-bottom: 1px solid  #efefef;">
    			Calorie Breakdown
				</h2>
    	</td>
    </tr>
    <tr height="20px"></tr>
  </tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
	<tbody>
		<tr>
			<td>
				<table width="100px" style="font-family:sans-serif;color:#888888;font-size:14px;line-height:18px;text-transform:uppercase">
					<tbody>
						<tr height="40px" align="center" >
							<td style="background-color: #efefef;">
								This Week
							</td>
						</tr>
						<tr height="40px" align="center">
							<td style="background-color: #efefef;">
								Last Week
							</td>
						</tr>
						<tr height="10px"></tr>
					</tbody>
				</table>
			</td>
			<td width="10px"></td>
			<td>
				<table width="560px" cellpadding="5px" cellspacing="0" border="0" align="center" style="font-family:sans-serif;color:#111111;font-size:14px; vertical-align: middle; color: #111111;">
					<tbody align="center">
						<tr height="30px" style="font-size:16px;line-height:18px;text-transform:uppercase; font-weight: normal;">
							<td width="70px">S</td>
							<td width="70px">M</td>
							<td width="70px">T</td>
							<td width="70px">W</td>
							<td width="70px">T</td>
							<td width="70px">F</td>
							<td width="70px">S</td>
						</tr>
						<!-- this week calories figures  -->
						<tr height="40px">
							<% for i in 0..6 %>
								<td width="70px" style="border-left: 1px solid #fff; border-bottom: 1px solid #fff; background-color: #efefef;">
									<% day_photos = @stats["week_calories"]["current_week"][i.to_s] %>
									<% unless day_photos.nil? %>
										<%= number_with_delimiter( @stats["week_calories"]["current_week"][i.to_s].map(&:calories).inject(:+), :delimiter => ',')%>
									<% end %>
								</td>
							<% end %>
						</tr>

						<!-- last week calories figures  -->
						<tr height="40px">
							<% for i in 0..6 %>
								<td width="70px" style="border-left: 1px solid #fff; background-color: #efefef;">
									<% day_photos = @stats["week_calories"]["last_week"][i.to_s] %>
									<% unless day_photos.nil? %>
										<%= number_with_delimiter(@stats["week_calories"]["last_week"][i.to_s].map(&:calories).inject(:+) , :delimiter => ',')%>
									<% end %>
								</td>
							<% end %>
						</tr>

						<!-- row for comparison between these 2 weeks -->
						<tr height="40px">
							<% for i in 0..6 %>
									<% day_photos = @stats["week_calories"]["current_week"][i.to_s] %>
									<% prev_day_photos = @stats["week_calories"]["last_week"][i.to_s] %>
									<% if !day_photos || !prev_day_photos %>

										<td width="70px" style="border-top: 5px solid #fff; border-left: 1px solid #fff; color: #111111; font-weight: normal; font-size: 11px;">

										</td>
									<% else %>

										<% dayCal = @stats["week_calories"]["current_week"][i.to_s].map(&:calories).inject(:+) %>
										<% prev_dayCal = @stats["week_calories"]["last_week"][i.to_s].map(&:calories).inject(:+) %>

										<% if dayCal > prev_dayCal %>
											<td width="70px" style="border-top: 5px solid #fff; border-left: 1px solid #fff; background-color: #e96000; color: #fff; font-weight: normal; font-size: 11px;">
												<span style="display: block;">
													<%=  image_tag("email/arrow_increase.png", :width => "15px")  %> <%= dayCal - prev_dayCal %>
												</span>
												<span style="display: block;">
													(<%= (dayCal-prev_dayCal) * 100 / prev_dayCal %>%)
												</span>
											</td>
										<% elsif dayCal < prev_dayCal %>
											<td width="70px" style="border-top: 5px solid #fff; border-left: 1px solid #fff; background-color: #058dc7; color: #fff; font-weight: normal; font-size: 11px;">
												<span style="display: block;">
													<%=  image_tag("email/arrow_decrease.png", :width => "15px")  %> <%= prev_dayCal - dayCal %>
												</span>
												<span style="display: block;">
													(<%= (prev_dayCal - dayCal) * 100 / prev_dayCal  %>%)
												</span>
											</td>
										<% else%>
											<td width="70px" style="border-top: 5px solid #fff; border-left: 1px solid #fff; background-color: #058dc7; color: #fff; font-weight: normal; font-size: 18px;">
												=
											</td>
										<% end %>
									<% end %>
								</td>
							<% end %>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr height="20px"></tr>
  </tbody>
</table>

<%= render :partial => "email/reports/weekly/view_chart_button" %>

