<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
  <tbody>
    <%= render :partial => "email/style/white_space" %>
    <tr>
    	<td>
    		<h2 style="color:#111111;font-family:sans-serif;margin-top:0;margin-bottom:0;font-size:24px;line-height:30px;padding:0 2px; border-bottom: 1px solid  #efefef;">
					Trending
				</h2>
    	</td>
    </tr>
    <tr height="20px"></tr>
  </tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
	<tbody>
		<tr>
			<td>
				<table width="100px" style="font-family:sans-serif;color:#888888;font-size:14px;line-height:18px;text-transform:uppercase">
					<tbody>
						<tr height="35px"></tr>
						<tr height="40px" align="center" >
							<td style="background-color: #efefef;">
								Calories
							</td>
						</tr>
						<tr height="10px"></tr>
					</tbody>
				</table>
			</td>
			<td width="10px"></td>
			<td>
				<table width="560px" cellpadding="5px" cellspacing="0" border="0" align="center" style="font-family:sans-serif;color:#111111;font-size:14px; vertical-align: middle; color: #111111;">
					<tbody align="center">
						<tr height="28px" style="line-height:18px; font-weight: normal;">
							<td width="140px">3 weeks ago</td>
							<td width="140px">2 weeks ago</td>
							<td width="140px">last week</td>
							<td width="140px">this week</td>
						</tr>
						<tr height="40px">
								<td width="140px" style="border-left: 1px solid #fff; border-bottom: 1px solid #fff; background-color: #efefef;">
									<%= number_with_delimiter(@stats["week_calories"]["3_weeks_ago"], :delimiter => ',') %>
								</td>

								<%= render :partial => "email/reports/weekly/trending_cell",
									:locals => {
										:current_value => @stats["week_calories"]["2_weeks_ago"] ,
										:prev_value => @stats["week_calories"]["3_weeks_ago"]
									}
								%>

								<%= render :partial => "email/reports/weekly/trending_cell",
									:locals => {
										:current_value => @stats["intro"]["last_week_calories"],
										:prev_value => @stats["week_calories"]["2_weeks_ago"]
									}
								%>

								<%= render :partial => "email/reports/weekly/trending_cell",
									:locals => {
										:current_value => @stats["intro"]["current_week_calories"],
										:prev_value => @stats["intro"]["last_week_calories"]
									}
								%>


						</tr>
					</tbody>
				</table>
			</td>
		</tr>
  </tbody>
</table>
<%= render :partial => "email/reports/weekly/view_chart_button", :locals => {:url => "#{user_url(@user)}/#month/compare"}  %>
