<% cache ["v1", comment] do %>


<div class="row comment" data-id="<%= comment.id %>" user-id="<%= comment.user.id %>">
	<div class="span1">
		<%= getPicture(comment.user, "small") %>
	</div>
	<div class="commentInfo span3">
		<div class="edit hide">
			<textarea><%= comment.text %></textarea>
			<span>Press escape to cancel.</span>
		</div>
		<div class="view">
			<h5>
				<div class="pull-right icons">
					<a href="javascript:void(0)" class="icon startEdit">
						<i class="icon-pencil"></i>
					</a>
					<a href="javascript:void(0)" class="icon delete">
						<i class="icon icon-remove"></i>
					</a>
				</div>
				<%= getUsername(comment.user) %> - <span class="muted timeago" title="<%= comment.updated_at.to_time.iso8601 %>"><%= comment.updated_at.to_s(:readable) %></span>
			</h5>

			<p class="commentText"><%= comment.text %></p>
		</div>
	</div>
</div>

<% end %>