<div class="week_view">
	<% if @data_points.length > 0 %>
			<div class="row">
				<div class="span6">
					<h2><%= @startDate.strftime("%b%e") %> - <%= @endDate.strftime("%b%e %Y")  %></h2>
				</div>
			</div>
			<div class="row">
					<% arr = Array(@startDate..@endDate) %>
				  <% for date in arr %>
						<% dateParsed = DateTime.parse(date.to_s) %>
						<% data_points = @data_points[date.strftime("%F")] %>
					  <div class="span1_7 <% if dateParsed == @startDate %>first<% end %>" data-date="<%= dateParsed.strftime("%m-%d-%Y") %>">
							<h5 class="pagination-centered"><%= dateParsed.strftime("%A") %></h5>
							<br/>
							<ul class="sortableImages">
								<% if !data_points.nil? %>
									<% data_points.each do |photo| %>
										<%= render :partial => "data_points/show/main_photo", :locals => {:data_point => photo} %>
									<% end %>
								<% end %>
							</ul>
							<div class="image">
								<p class="pagination-centered"></p>
							</div>
						</div>
				  <% end %>
			</div>
	<% else %>
		<%= render "data_points/index/empty" %>
	<% end %>

</div>
