<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
  <tbody>
    <tr>
      <td valign="top" align="left" style="border-collapse:collapse">
        <h2 style="color:#111111;font-family:sans-serif;margin-top:0;margin-bottom:0;font-size:24px;line-height:30px;padding:0 2px">
          Your Stats
        </h2>
        <%= render :partial => "email/style/points_limiter" %>
      </td>
    </tr>
  </tbody>
</table>
<h2 style="color:#111111;font-family:sans-serif;margin-top:0;margin-bottom:0;font-size:24px;line-height:30px;padding:0 2px; border-bottom: 1px solid  #efefef;">

          Weekly Progress

        </h2>
        <br>
<table width="100%"  border = "0" cellpadding="0" cellspacing="0" align="center" height="113px"   style="border:5px solid #CFCFCF; border-radius:20px">
  <tbody>
    <tr height="10px"></tr>
    <tr>
      <% count = 0 %>
      <% @progress_bar_data.each do |day_data| %>
        <% if day_data[:has_created_photo]
          count = count + 1
        end %>
        <%= render :partial => "email/reports/daily/progress_bar_day", :locals => { :day => day_data[:first_letter], :light=> day_data[:has_created_photo]}  %>
      <% end %>
      <td width="10px"></td>
    </tr>
    <tr height="10px"></tr>

  </tbody>
</table>
<p style="font-size: 1.2em; text-align:center;color:#111111;font-family:sans-serif;">You've posted photos <%= pluralize(count, "day") %> out of 7. <% if count == 0 %><%=  image_tag("email/sad.png", :style => "width:20px")  %><% elsif count == 5 %><%= image_tag("email/smiley5.png", :style => "width:20px")%><% elsif count == 6 %><%= image_tag("email/smiley6.png", :style => "width:20px")%><% elsif count == 7 %><%= image_tag("email/smiley7.png", :style => "width:20px")%><% end %></p>