<div id="latest-members">
	<div class="page-header">
		<h3>Latest Members</h3>
	</div>
	<% @latest_members.each do |user| %>
	<div class="member">
		<%= link_to user_path(:username=> user.username), :class => "user" do %>
		<div class="image pull-left">
			<%=  image_tag user.picture.url(:small) %>
			<span class="username"><%= user.username%><span>
		</div>
		<div class="pull-right ago">
			<p><%= time_ago_in_words(user.created_at)%> ago</p>
			<%= render :partial => "follow_button", :locals => {:user => user}%>
		</div>
		<% end %>
	</div>
	<% end %>
</div>