<div>
	<%= link_to user_path(:username=> user.username), :class => "user" do %>
		<div class="rank pull-left well">
			<span>
				<% if defined? current_user_position %>
					<%= current_user_position %>
				<% else %>
					<%= ((leaderboard_users.current_page * users_per_page) - (users_per_page - 1)) + index %>
				<% end %>
			</span>
		</div>

		<div class="image pull-left">
			<%=  image_tag user.picture.url(:small) %>
			<span class="username"><%= user.username%></span>
		</div>

		<div class="pull-right points">
			<p><%= user[leaderboard+"_points"]%> points</p>
			<%= render :partial => "follow_button", :locals => {:user => user}%>
		</div>
	<% end %>
</div>