<h1>Settings</h1>
<div class="row">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
			<li class="active" data-content="profile">
				<a href="#">Profile</a>
			</li>
			<li data-content="picture">
				<a href="#">Picture</a>
			</li>
			<li data-content="social">
				<a href="#">Social Sharing</a>
			</li>
			<li data-content="preferences">
				<a href="#">Daily Calorie Goal</a>
			</li>
			<li data-content="emails">
				<a href="#">Emails</a>
			</li>
		</ul>
	</div>
	<div id="profile" class="content span9"><%= render 'users/edit/settings_profile' %></div>
	<div id="picture" class="content span9 hide"><%= render 'users/edit/settings_picture' %></div>
	<div id="social" class="content span9 hide"><%= render 'users/edit/settings_social' %></div>
	<div id="preferences" class="content span9 hide"><%= render 'users/edit/settings_preferences' %></div>
	<div id="emails" class="content span9 hide"><%= render 'users/edit/settings_emails' %></div>
</div>
