<div id="photoCalendar" data-user = "<%= @user.id%>">

	<div class="pull-right">
		<% if @user.is(current_user) %>
			<%= link_to('#new_upload',:class=>"btn btn-primary upload_btn", 'data-toggle'=>"modal") do%>
				<i class="icon-upload icon-white"></i>
				Upload
			<%end%>
		<%elsif current_user.isFollowing(@user).empty? %>
			<%= link_to "Follow", friendships_path(:followee => @user.id), :method => :post, :class => "btn btn-primary"  %>
		<% else %>
			<%= link_to "Unfollow", current_user.isFollowing(@user)[0], :method => :delete, :class => "btn"  %>
		<%end%>

	</div>


	<%= render "users/show/control_buttons" %>

	<br/>

	<div id="photos"></div>

	<div id="graphicContainer"></div>

	<%= render "data_points/create/new_upload" %>


	<div id="modal_view" class="hide  modal viewPhoto">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
		</div>
		<div class="modal-body">
		</div>
	</div>
</div>
