<div id="photoCalendar" data-user = "<%= @user.id%>">

	<div class="pull-right">
		<% if @user.is(current_user) %>
			<%= link_to('#new_upload',:class=>"btn btn-primary upload_btn", 'data-toggle'=>"modal") do%>
				<i class="icon-upload icon-white"></i>
				Upload
			<%end%>
		<%elsif current_user.isFollowing(@user).empty? %>
			<%= link_to "Follow", friendships_path(:followee => @user.id), :method => :post, :class => "btn btn-primary"  %>
		<% else %>
			<%= link_to "Unfollow", current_user.isFollowing(@user)[0], :method => :delete, :class => "btn"  %>
		<%end%>

	</div>

	<div class="row">
		<div class="span3">
			<div class="btn-group btn-control">
				<button class="btn period day" data-period="day">Day</button>
				<button class="btn period week" data-period = "week">Week</button>
				<button class="btn period month" data-period = "month" >Month</button>
			</div>
		</div>
		<div class="span3">
			<div class="btn-group btn-control">
				<a class="btn prev" href="javascript:void(0)"><i class="icon-chevron-left"></i></a>
				<button class="btn today">Today</button>
				<a class="btn next" href="javascript:void(0)"><i class="icon-chevron-right"></i></a>
			</div>
			<div class="hide">
				<input type="text" class="date-period" />
				<input type="text" class="date-start" />
				<input type="text" class="date-end" />
			</div>
		</div>
	</div>

	<br/>

	<script id="week_photos_tmpl" type="text/html">
	<%= render "data_points/week_photo_list" %>
	</script>

	<script id="day_photos_tmpl" type="text/html">
	<%= render "data_points/day_photo_list" %>
	</script>


	<script id="month_photos_tmpl" type="text/html">
	<%= render "data_points/month_photo_list" %>
	</script>

	<div class="emptyState hide">
		<%= image_tag "arrow_empty_state.png", :class => "pull-right",  %>
		<blockquote class="pull-right">
  		<p>A journey of a thousand miles begins with a single step.</p>
  		<small>Confucius</small>
		</blockquote>
	</div>
	<div id="photos">

	</div>

	<div id="graphicContainer"></div>

	<%= render "data_points/new_upload" %>


	<div id="modal_view" class="hide  modal viewPhoto">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
		</div>
		<div class="modal-body">
		</div>
	</div>
</div>
