<div class="feed">
	<div class="pull-left">
			<%= getPicture(feed.user, "small") %>
	</div>
	<div class="photo pull-left">
		<%= link_to data_point_path(feed.id) do %>
			<div class="cbm_wrap">
				<%= render :partial => "data_points/show/photo", :locals => {:data_point => feed, :size => "medium", :style=>"194px"} %>
			</div>
		<% end %>
		<p class="info" data-id="<%= feed.id%>"><%= getUsername(feed.user, "highlight") %> - <%= feed.calories%> Cal. - <span class="muted timeago" title="<%= feed.local_uploaded_time() %>"><%= feed.uploaded_at.to_s(:readable)%></span></p>
		<%= render :partial => "likes/nbLikeThis", :locals	=> {:data_point => feed}  %>
		<%= render :partial => "comments/nbCommentThis", :locals	=> {:data_point => feed}  %>
	</div>
	<div class="content">
		<% unless feed.description.empty? %>
			<h5 class="description">
				<%= feed.description %>
			</h5>
		<% end %>
		<div class="control-group comment hide">
			<div class="controls">
				<textarea class="newComment" placeholder="Add your comment..."></textarea>
				<span class="help-inline comment hide">Please enter a comment</span>
			</div>
		</div>
		<%= render :partial => "comments/button"  %>
		<%= render :partial => "likes/button", :locals => { :data_point => feed}  %>
		<div class="comments" data-data-point="<%= feed.id%>">
			<%= render :partial => "comments/data_point_modal_box", :locals => {:comments => feed.comments}  %>
		</div>
	</div>
</div>
<div class="clear"></div>