<h1>Visual Food Journal</h1>
<h2>Because tracking what you eat should be easier</h2>
<iframe width="420" height="315" src="http://www.youtube.com/embed/kOJ8DhFIDPg?hd=1&rel=0" frameborder="0" allowfullscreen></iframe>
<div id="orange-ribbon">
	<div class="ribbon-left"></div>
	<div class="ribbon">
		<%=  image_tag("homepage/fish-icon.png", :alt=>"fish icon", :width=>"92", :height=>"92")  %>
		<%=  image_tag("homepage/taco-icon.png", :alt=>"taco icon", :width=>"92", :height=>"92")  %>
		<%=  image_tag("homepage/steak-icon.png", :alt=>"steak icon", :width=>"92", :height=>"92")  %>
		<%=  image_tag("homepage/sushi-icon.png", :alt=>"sushi icon", :width=>"92", :height=>"92")  %>
		<%=  image_tag("homepage/bowl-of-rice-icon.png", :alt=>"bowl-of-rice icon", :width=>"92", :height=>"92")  %>
		<%=  image_tag("homepage/bread-icon.png", :alt=>"bread icon", :width=>"92", :height=>"92")  %>
		<%=  image_tag("homepage/hamburger-icon.png", :alt=>"hamburger icon", :width=>"92", :height=>"92")  %>
		<%=  image_tag("homepage/swiss-cheese-icon.png", :alt=>"swiss-cheese icon", :width=>"92", :height=>"92")  %>
		<%=  image_tag("homepage/fried-egg-icon.png", :alt=>"fried-egg icon", :width=>"92", :height=>"92")  %>
	</div>
	<div class="ribbon-right"></div>
</div><!-- #orange ribbon -->

<div class="column1of3">
	<h2 class="step">Step 1</h2>
	<p><strong>Snap a photo of your meal<br /> with your phone</strong></p>
</div>

<div class="column2of3">
	<h2 class="step">Step 2</h2>
	<p><strong>Email the photo to pic@foodrubix.mailgun.org</strong></p>
	<p><strong>Add CALORIES in the subject line</strong></p>
</div>

<div class="column3of3">
	<h2 class="step">Step 3</h2>
	<p><strong>Check for patterns</strong></p>
	<p><strong>Repeat for 30 days</strong></p>
</div>