<div class="row">
	<div class="span6">
		<%= form_for @data_point, :html => { :multipart => true, :class =>"form-horizontal" } do |f| %>

		<fieldset>

			<div class="control-group <% if @data_point.errors[:calories].present? %>error<%end%>">
				<%= f.label :calories, :class => "control-label" %>
				<div class="controls">
					<%= f.number_field :calories, :class => "input-xlarge"  %>
					<% if @data_point.errors[:calories].present? %>
						<span class="help-inline"><%= @data_point.errors[:calories].join(", ")%></span>
					<%end%>
				</div>
			</div>
			
			<div class="control-group <% if @data_point.errors[:photo].present? %>error<%end%>">
				<%= f.label :photo, :class => "control-label" %>
				<div class="controls">
					<%= f.file_field :photo, :class => "input-xlarge"  %>
					<% if @data_point.errors[:photo].present? %>
					<span class="help-inline"><%= @data_point.errors[:photo].join(", ")%></span>
					<%end%>
				</div>
			</div>
			
			<div class="form-actions">
				<%= submit_tag "Upload", :class => "btn btn-primary upload", "data-loading-text" =>"Uploading..." %>
				<%= submit_tag 'Cancel', :name => 'cancel' , :class => "btn"%>
			</div>
		</fieldset>
		<% end %>
	</div><!-- span6 -->
</div><!-- row -->