<% @data_points.each do |data_point| %>
		<div class="pull-left"><%= image_tag(data_point.photo.url, :size => "100x100") %></div>
		<p>id<%= data_point.id %></p>
		<p>calories<%= data_point.calories %></p>
		<p>user id:<%= data_point.user_id %></p>
		<p>date uploaded: <%= data_point.created_at %></p>
		<%= link_to 'Destroy', data_point, method: :delete %>
		<div class="clear"></div>
		<br />
	    
	
<% end %>