<div class="user">
	<div class="pull-right points">
		<p><%= time_ago_in_words(user.created_at)%> ago</p>
		<%= render :partial => "users/index/follow_button", :locals => {:user => user}%>
	</div>
	<%= link_to user_path(:username=> user.username) do %>
		<div class="content">
				<%=  image_tag user.picture.url(:small), {:class=>"avatar"} %>
				<div class="pull-left">
					<p class="username">
						<%= user.username.capitalize%>
					</p>
					<p class="diet"><%= user.preference.diet%></p>
				</div>
			<p class="intro"><%= user.preference.eating_habits%></p>
		</div>
	<% end %>
</div>