<div class="user">
	<div class="pull-right points">
		<p><%= user[leaderboard+"_points"]%> points</p>
		<%= render :partial => "users/index/follow_button", :locals => {:user => user}%>
	</div>
	<%= link_to user_path(:username=> user.username) do %>

		<div class="content">
				<%=  image_tag user.picture.url(:small), {:class=>"avatar"} %>
				<div class="pull-left">
					<p class="username">
						<%= user["position_"+leaderboard] %> - <%= user.username.capitalize%>
					</p>
					<p class="diet"><%= user.preference.diet%></p>
				</div>
				<% if leaderboard == "total_leaderboard" %>
					<span class="winner-ribbons">
						<% user.leaderboard_prices.last(5).each do |price| %>
						<%= image_tag "month_winner_ribbon.svg", :title => price.name, :style => "width:30px", :class=> "winner-ribbon" %>
						<% end %>
					</span>
				<% end %>


			<p class="intro"><%= user.preference.eating_habits%></p>
		</div>
	<% end %>
</div>