
<%= link_to user_path(:username=> user.username), :class => "user" do %>
	<div class="image pull-left">
		<%=  image_tag user.picture.url(:small) %>
		<%= user.username%>
	</div>

	<div class="pull-right points">
		<p><%= user.leaderboard_points%> points</p>
		<%= render :partial => "users/index/follow_button", :locals => {:user => user}%>
	</div>
<% end %>