<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
  <tbody>
    <tr>
      <% unless @smart_choice_photo.nil?  %>
        <td width="320" valign="top" align="left" style="border-collapse:collapse">
          <%= render :partial => "email/style/points_limiter_2_col",  %>
          <h2 style="color:#111111;font-family:sans-serif;margin-top:0;margin-bottom:0;font-size:24px;line-height:30px;padding:0 2px">Smart Choice Award</h2>
          <%= render :partial => "email/style/points_limiter_2_col",  %>

           <%= link_to image_tag(@smart_choice_photo.photo.url(:medium), :style => "border:none; outline:none; text-decoration:none; display:block; width:320px; height:320px;"), data_point_url(@smart_choice_photo)
              %>

          <p style="font-size: 15px;width:320px; line-height: 24px; color: #434343; font-family: sans-serif;">Congrats <%= link_to @smart_choice_photo.user.username.capitalize, user_url(:username=> @smart_choice_photo.user.username)%> on winning the <strong>Smart Choice Award</strong>.</p>
          <p style="font-size: 15px; width:320px;line-height: 24px; color: #434343; font-family: sans-serif;">Keep up the healthy choices!</p>


        </td>
        <td style="border-collapse:collapse">&nbsp;</td>
      <% end %>


      <% unless @hot_photo.nil?  %>
        <td width="320" valign="top" align="left" style="border-collapse:collapse">
          <%= render :partial => "email/style/points_limiter_2_col",  %>

          <h2 style="color:#111111;font-family:sans-serif;margin-top:0;margin-bottom:0;font-size:24px;line-height:30px;padding:0 2px">Hot Photo Award</h2>

          <%= render :partial => "email/style/points_limiter_2_col",  %>

              <%= link_to image_tag(@hot_photo.photo.url(:medium), :style => "border:none; outline:none; text-decoration:none; display:block; width:320px; height:320px;"), data_point_url(@hot_photo)
              %>
          <p style="font-size: 15px; width:320px;line-height: 24px; color: #434343; font-family: sans-serif;">Congrats <%= link_to @hot_photo.user.username.capitalize, user_url(:username=> @hot_photo.user.username) %> on winning the <strong>Hot Photo Award</strong>.</p>
          <p style="font-size: 15px;width:320px; line-height: 24px; color: #434343; font-family: sans-serif;">Hot Photo Award is given to the most artistic photo of the day. Keep up the good work!</p>

        </td>
      <% end %>
    </tr>

  </tbody>
</table>