<div class="row">
	<div class="span10">
		<%= form_for @user_session, :html => { :class => "form-horizontal" } do |f| %>
			<fieldset>
				<!-- username -->
				<div class="control-group <% if @user_session.errors[:username].present? %>error<%end%>">
					<%= f.label :username, :class => "control-label" %>
          <div class="controls">
				    <%= f.text_field :username, :class => "input-xlarge"  %>
						<% if @user_session.errors[:username].present? %>
							<span class="help-inline"><%= @user.errors[:username].join(", ")%></span>
						<%end%>
          </div>
        </div>
				<!-- password -->
				<div class="control-group <% if @user_session.errors[:password].present? %>error<%end%>">
					<%= f.label :password, :class => "control-label" %>
          <div class="controls">
				    <%= f.password_field :password, :class => "input-xlarge"  %>
						<% if @user_session.errors[:password].present? %>
							<span class="help-inline"><%= @user_session.errors[:password].join(", ")%></span>
						<%end%>
          </div>
        </div>
				<div class="control-group">
					<div class="controls">
          	<%= link_to "Lost password?", lost_password_path %>
					</div>
				</div>
			 	<div class="form-actions">
				  <%= f.submit "Login", :class => "btn btn-primary"  %>
				
        </div>
			</fieldset>
		<% end %>
  </div><!-- span6 -->
</div><!-- row -->




