<h2>Log in</h2>
<div id="fb-root"></div>
<div class="row">
	<div class="span10">
		<%= form_for @user_session, :url =>login_path, :html => { :class => "form-horizontal" } do |f| %>
		<div class="alert alert-error <% unless @user_session.errors.any? %>hide<% end %>">
				<p class = "general <% unless @user_session.errors.any? %>hide<% end %>">There was an error with your Username/Password combination. Please try again.</p>
				<p class = "username hide">Please enter your username.</p>
				<p class = "password hide">Please enter your password.</p>
		</div>

		<fieldset>
			<!-- username -->
			<div class="control-group username">

				<div class="controls">
					<%= label_tag :username %>
					<%= f.text_field :username, :class => "input-xlarge", :placeholder => "Username"  %>

				</div>
			</div>
			<!-- password -->
			<div class="control-group password">
				<div class="controls">
					<%= label_tag :password %>
					<%= f.password_field :password, :class => "input-xlarge", :placeholder => "Password"   %>

				</div>
			</div>
			<!-- remmember me -->
			<div class="control-group">
				<div class="controls">
					<label class="checkbox"><%= f.check_box :remember_me   %> <span>Remember me</span></label>
					<%= link_to "Lost password?", lost_password_path, :class => "lost_password" %>
				</div>
			</div>

			<div class="form-actions">
				<%= f.submit "Log in", :class => "btn btn-primary login"  %>
				or
				<a href="/auth/facebook" class="auth_provider">
					<%= image_tag "facebook_login.jpg", :alt => "Facebook", :height => "28px" %>
				</a>
					<!-- or
					<a href="/auth/twitter" class="auth_provider">
				  		<%= image_tag "twitter_login.jpg", :alt => "Twitter", :height => "28px" %>
				  	</a> -->
				  </div>
				</fieldset>
				<% end %>
			</div><!-- span6 -->
		</div><!-- row -->




