<div bgcolor="#ffffff">
  <table cellpadding="0" cellspacing="0" border="0" align="center" style="line-height:100%!important;border-collapse:collapse;width:100%!important;margin:0;padding:0" bgcolor="#ffffff">
    <tbody>
      <tr>
        <td align="center" style="border-collapse:collapse" bgcolor="#ffffff">
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="714" style="border-collapse:collapse">
            <tbody>
              <tr>
                <td width="20" style="border-collapse:collapse">&nbsp;</td>
                <td valign="top" style="border-collapse:collapse">

                  <%= render :partial => "email/style/header" %>

                  <%= render :partial => "email/style/points_limiter" %>

                  <%= yield %>

                  <%= render :partial => "email/style/limiter" %>

                </td>
                <td width="20" style="border-collapse:collapse">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <%= render :partial => "email/style/footer" %>

  <img width="1px" height="1px" src="http://email.mail2.sendicate.net/o/aD03M2M4YzYwMDI3ZGZkZWQyZGM2ODU1OTM0Y2UyMGQ4YiZyPWxnaW5vdXglNDBnbWFpbC5jb20mbXktdmFyPSU3QiUyMm1haWxpbmdfaWQlMjIlM0EyOTgwJTdEJmQ9NTgy">
</div>

