<% cache ["v1", "navbar", user.username] do %>

<% end %>


<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">

			<%= link_to image_tag('foodRubix_logo_beta.svg', :width => "200px", :height => "40px"), root_path, :class => 'brand'%>

			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<%= link_to(root_path) do%>
						My Diary
						<%=image_tag("diary.svg", :class=> "nav_icon", :width => "35px", :height => "50px")%>
						<%end%>
					</li>
					<li>
						<%= link_to(feed_path, :user_page => 1) do%>
						Feed
						<%=image_tag("following.svg", :class=> "nav_icon", :width => "35px", :height => "50px") %>
						<%end%>
					</li>
					<li>
						<%= link_to(team_rubix_path) do%>
						Team Rubix
						<%=image_tag("team.svg", :class=> "nav_icon", :width => "35px", :height => "50px") %>
						<%end%>
					</li>
				</ul>

				<ul class="nav pull-right">
					<div class="pull-left">
						<%= getPicture(user, 'small') %>
					</div>
					<h3  class="hi_current_user other_user hide"><%= link_to "#{user.username}'s diary", user_path(:username=> user.username) %></h3>

					<li class="dropdown current_user_menu hide">
						<a href="javascript:void(0)" class="dropdown-toggle hi_current_user" data-toggle="dropdown">Go <%= user.username%><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to(edit_user_path(user)) do%>
								<i class="icon-cog user_menu_icon"></i>
								Settings
								<%end%>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to(logout_path) do%>
								<i class="icon-off user_menu_icon"></i>
								Log out
								<%end%>
							</li>
						</ul>
					</li>
				</ul>
			</div><!-- /.nav-collapse -->
		</div> <!-- container -->
	</div><!-- /navbar-inner -->
</div><!-- navbar -->

