<!DOCTYPE html>
<html>
	<head>
		<%= favicon_link_tag "favicon.ico" %>
		<title>FoodRubix - Easy food journal</title>
		<%= include_gon %>
		<%= stylesheet_link_tag    "application","https://fonts.googleapis.com/css?family=News+Cycle:400,700", :media => "all" %>
		<!--[if lt IE 9]>
		<%= stylesheet_link_tag    "application-ie", :media => "all" %>
		<![endif]-->

		<%= csrf_meta_tags %>
	</head>
	<% user = @user || current_user %>
	<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-user="<% unless user.nil? %><%= user.id %><% end %>"><div id="wrapper">

			<%= render :partial =>"layouts/navigation_bar", :locals => {:user => user} %>

			<div class="container content">
				<% if flash[:alert] %>
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<p class="flash-error"><%= flash[:alert] %></p>
				</div>
				<% end %>

				<% if flash[:notice] %>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<p class="flash-error"><%= flash[:notice] %></p>
				</div>
				<% end %>

				<%= yield %>


			</div>
			<footer class="<% if controller_name == "users" && action_name == "show"%><%else%>absolute<%end%>">
				<div class='footer'>

				</div>
			</footer>

			<% cache ["loading_tmpl", "v1"] do %>
				<script id="loading_tmpl" type="text/html">
				<%= render "shared/loading" %>
				</script>
			<% end %>
		</div>
		<!--[if lt IE 9]>
		<%= javascript_include_tag "application-ie9" %>
		<![endif]-->
		<%= javascript_include_tag "application" %>
	</body>

</html>
