<!DOCTYPE html>
<html>
<head>
	<title>FoodRubix</title>
	<%= include_gon %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<!--[if lt IE 9]>
	<%= javascript_include_tag "application-ie9" %>
	<![endif]-->
	<%= javascript_include_tag "application" %>


	<%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>"
	<% if current_user %>
		data-user="<%= current_user.id %>"
	<%end%>
>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<% if current_user %>
					<%= link_to image_tag('foodRubix_logo.svg'), root_path, :class => 'brand'%>
				<% else %>
					<%= link_to image_tag('foodRubix_logo.svg'), static_path("home"), :class => 'brand'%>
				<% end %>
				<div class="nav-collapse">
					<ul class="nav">
						<% if current_user %>
							<li>
								<%= link_to(user_path(:username=> current_user.username)) do%>
									My Diary
									<%=image_tag("diary.svg", :class=> "nav_icon")%>
								<%end%>
							</li>
							<li>
								<%= link_to(following_path) do%>
									Following
									<%=image_tag("following.svg", :class=> "nav_icon") %>
								<%end%>
							<li>
								<%= link_to(challengers_path) do%>
									Team Rubix
									<%=image_tag("team.svg", :class=> "nav_icon") %>
								<%end%>
							</li>
						<%else%>
							<li class="<%="active" if request.fullpath == page_path("home")%>">
								<%= link_to t(:home), static_path("home")%>
							</li>

						<%end%>
					</ul>
					<ul class="nav pull-right">

						<% if current_user %>
						<li class="dropdown">
							<a href="#" id="hi_current_user" class="dropdown-toggle" data-toggle="dropdown">Hi <%= current_user.username%><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to(edit_user_path(current_user)) do%>
									<i class="icon-cog"></i>
									Settings
									<%end%>
								</li>
								<li class="divider"></li>
								<li>
									<%= link_to(logout_path) do%>
									<i class="icon-off"></i>
									Log out
									<%end%>
								</li>
							</ul>
						</li>
						<% else %>
						<li><%= link_to "Sign up", register_path %></li>
						<li class="divider-vertical"></li>
						<li><%= link_to "Log in", login_path %></li>
						<% end %>

					</ul>
				</div><!-- /.nav-collapse -->
			</div> <!-- container -->
		</div><!-- /navbar-inner -->
	</div><!-- navbar -->

	<div class="container content">
		<% if flash[:alert] %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<p class="flash-error"><%= flash[:alert] %></p>
		</div>
		<% end %>

		<% if flash[:notice] %>
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<p class="flash-error"><%= flash[:notice] %></p>
		</div>
		<% end %>

		<%= yield %>

		<footer>
			<div class='footer'>

			</div>
		</footer>
	</div>

	<script id="loading_tmpl" type="text/html">
		<%= render "data_points/loading" %>
	</script>

</body>
</html>
