<!DOCTYPE html>
<html>
<head>
	<title>FoodRubix</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<!--[if lt IE 9]>
	<%= javascript_include_tag "application-ie9" %>
	<![endif]-->
	<%= javascript_include_tag "application" %>


	<%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "FoodRubix", static_path("home"), :class => 'brand'%>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="<%="active" if request.fullpath == page_path("home")%>"><%= link_to t(:home), static_path("home")%></li>
						<% if current_user %>
						<li><%= link_to "Dashboard", user_path(:username=> current_user.username)%></li>

						<%end%>
					</ul>
					<ul class="nav pull-right">

						<% if current_user %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi <%= current_user.username%><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to(edit_user_path(current_user)) do%>
									<i class="icon-user"></i>
									Edit Profile
									<%end%>
								</li>
								<li class="divider"></li>
								<li>
									<%= link_to(logout_path) do%>
									<i class="icon-off"></i>
									Log out
									<%end%>
								</li>
							</ul>
						</li>
						<% else %>
						<li><%= link_to "Sign up", register_path %></li>
						<li class="divider-vertical"></li>
						<li><%= link_to "Log in", login_path %></li>
						<% end %>

					</ul>
				</div><!-- /.nav-collapse -->
			</div> <!-- container -->
		</div><!-- /navbar-inner -->
	</div><!-- navbar -->

	<div class="container content">			
		<% if flash[:alert] %>
		<div class="alert alert-error">
			<p class="flash-error"><%= flash[:alert] %></p>
		</div>
		<% end %>

		<% if flash[:notice] %>
		<div class="alert alert-info">
			<p class="flash-error"><%= flash[:notice] %></p>
		</div>
		<% end %>

		<%= yield %>

		<footer>
			<div class='footer'>

			</div>
		</footer>
	</div>

	<script id="loading_tmpl" type="text/html">
		<%= render "data_points/loading" %>
	</script>

</body>
</html>
