<!DOCTYPE html>
<html>
<head>
	<title>Easy food journal | Lose weight with FoodRubix</title>

	<%= stylesheet_link_tag    "homepage", :media => "all" %>

	<!--[if lt IE 9]>
	<%= javascript_include_tag "application-ie9" %>
	<![endif]-->
	<%= javascript_include_tag "application" %>

	<meta name="description" content="A super cool visual food journal - the easiest way to track what you're eating!">
	<meta name="keywords" content="food journal, food diary, food tracker, calorie tracker, app to help you lose weight">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

	<%= csrf_meta_tags %>

</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>"

	<div id="container">
		<header>
				<nav>
				<ul>
					<li>
						<%= link_to static_path("home") do %>
						<%=  image_tag("foodRubix_logo_beta.svg", :alt=>"FoodRubix logo", :width=>"322", :height=>"82")  %>
						<% end %>
					</li>
					<li><%= link_to "Sign up", register_path, :class=> "cta" %></li>
					<li><%= link_to "Log in", login_path, :class=> "cta-log-in" %></li>

				</ul>
			</nav>
		</header>

		<div id="main">
				<%= yield %>
		</div><!-- #main -->
		<footer></footer>
	</div><!-- #container -->



	<script>var ofc_key = '7403efdb6e8e70ce9429b51bf39841a0';</script>

	<script src='http://offerchat.com/offerchat_widget.min.js' type='text/javascript'></script>

</body>
</html>
