<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag "favicon.ico"%>
	<title>Easy food journal | Lose weight with FoodRubix</title>

	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag    "homepage", :media => "all" %>

	<meta name="description" content="A super cool visual food journal - the easiest way to track what you're eating!">
	<meta name="keywords" content="food journal, food diary, food tracker, calorie tracker, app to help you lose weight">

	<%= csrf_meta_tags %>

	<%= javascript_include_tag "homepage" %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>"

	<div id="container">
		<header>
				<nav>
				<ul>
					<li>
						<%= link_to static_path("home") do %>
						<%=  image_tag("foodRubix_logo_beta.svg", :alt=>"FoodRubix logo", :class => "logo")  %>
						<% end %>
					</li>
					<li><%= link_to "Sign up", register_path, :class=> "cta" %></li>
					<li><%= link_to "Log in", login_path, :class=> "cta-log-in" %></li>

				</ul>
			</nav>
		</header>

		<div id="main">
			<div class="row">
				<div class="span10">
					<% if flash[:alert] %>
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<p class="flash-error"><%= flash[:alert] %></p>
					</div>
					<% end %>

					<% if flash[:notice] %>
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<p class="flash-error"><%= flash[:notice] %></p>
					</div>
					<% end %>
				</div>
			</div>
			<%= yield %>
		</div><!-- #main -->
		<footer></footer>
	</div><!-- #container -->



</body>
</html>
